@model IEnumerable<ProyectoMVC.Models.ClienteSql>

@{
    ViewData["Title"] = "Index";
}

<h1>Clientes</h1>

<p>
    @Html.ActionLink("Crear Nuevo Cliente", "Create")
</p>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Codigo)</th>
                <th>@Html.DisplayNameFor(model => model.Cedula)</th>
                <th>@Html.DisplayNameFor(model => model.Nombres)</th>
                <th>@Html.DisplayNameFor(model => model.Apellidos)</th>
                <th>@Html.DisplayNameFor(model => model.FechaNacimiento)</th>
                <th>@Html.DisplayNameFor(model => model.Mail)</th>
                <th>@Html.DisplayNameFor(model => model.Telefono)</th>
                <th>@Html.DisplayNameFor(model => model.Direccion)</th>
                <th>@Html.DisplayNameFor(model => model.Saldo)</th>
                <th>@Html.DisplayNameFor(model => model.Estado)</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Codigo)</td>
                    <td>@Html.DisplayFor(modelItem => item.Cedula)</td>
                    <td>@Html.DisplayFor(modelItem => item.Nombres)</td>
                    <td>@Html.DisplayFor(modelItem => item.Apellidos)</td>
                    <td>@Html.DisplayFor(modelItem => item.FechaNacimiento)</td>
                    <td>@Html.DisplayFor(modelItem => item.Mail)</td>
                    <td>@Html.DisplayFor(modelItem => item.Telefono)</td>
                    <td>@Html.DisplayFor(modelItem => item.Direccion)</td>
                    <td>@Html.DisplayFor(modelItem => item.Saldo)</td>
                    <td>@Html.DisplayFor(modelItem => item.Estado)</td>
                    <td>
                        @* Icono de Editar *@
                        @Html.ActionLink("✏️", "Edit", new { id = item.Codigo }, new { @class = "btn btn-primary", title = "Editar" })
                        @* Icono de Eliminar *@
                        @Html.ActionLink("🗑️", "Delete", new { id = item.Codigo }, new { @class = "btn btn-danger", title = "Eliminar" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
